#title{
  background-color: #ff4c68;
  color: #ffffff;
}
body{
  font-family: "Montserrat";
}

h1{
font-family: 'Montserrat';
line-height: 1.5;
font-size: 3.5rem;
font-weight: 800;
}
h3{
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 5%;
}

p{
  color: #8f8f8f;
}

/* Navbar */

.navbar{
  padding: 0 0 4.5rem 0px;
  padding-left: 0px;
}

.container-fluid{
  padding: 2% 8%;
}


.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 500;
  padding-left: 0;

}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size:1.2rem;
  font-weight: 200;
}

.downbtn{
  margin: 5% 3% 5% 0;
  }

/* Header section */
  .img-iphone{

    width: 70%;
    transform: rotate(25deg);
    padding-top: 40px;
    position: relative;
  }

  .img-idiv{
    margin-left: 10%;
  }

  .logo{
    color: #ef7182;
  }
  .logo:hover{
    color: #ff4c68;
  }

/* features section */
  #features{
    margin-top: -10%;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
    background-color: #fff;
  }

  .feature-box{
    text-align: center;
    padding: 5%;
  }
/* testimonial */
  #testimonials{
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  }

  .carousel-item{
    padding: 5% 15%;
  }

  h2{
    color: #fff;
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 1%;
    line-height: 1.5;
  }

  .testimonial-img{
    width: 10%;
    border-radius: 100%;
    padding: 15px;
  }
/* press */
  #press{
    background-color: #ff4c68;
    padding-bottom: 3%;
    text-align: center;
  }

  .img-press{
    width: 12%;
    margin: 20px 20px 50px;
  }

  /* pricing */
#pricing{
  padding: 5% 15%;
  text-align: center;
}

.priceh2{
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
}
.card{
  margin: 10px;
}

/* cta */
#cta{
  background-color: #ff4c68;
  padding-bottom: 3%;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  padding: 1% 15% 2%;
}

.text-cta{
  font-size: 2.5rem;
  padding: 0 20% 0%;
}

#footer{
  padding: 3% 15%;
  text-align: center;
}
.icons{
  padding-bottom: 1%;
}

.icon-social{
  padding: 0% 1%
}
